 body {
    display: flex;
    background-image: url("calc.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;
}

/* table, th ,td ,tr{
    border: 1px solid black;
} */

button{
    width: 100%;
    height: 70px;
    border: 1px solid black;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 15px;
}

    .calculator {
      background: rgb(156, 164, 224);
      padding: 15px;
      height: 500px;
      border-radius: 25px;
      border: 1px solid black;
      margin-right: 100px;
    }

    input {
      height: 60px;
      font-size: 25px;
      margin-bottom: 25px;
      text-align: right;
      border: 1px solid black;
      border-radius: 25px;
      color: white;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      padding: 5px;
    }

    .number {
      background: #e0e0e0;
      color: black;
    }

    .operator {
      background: #64d80c;
      color: white;
    }

    .clear {
      background: #f44336;
      color: white;
    }

    .number:hover {
      opacity: 0.90;
      background-color: grey;
      color: white;
    }

    .operator:hover {
      opacity: 0.90;
      background-color: #64d80c;
      color: black;
    }

    .clear:hover {
      opacity: 0.90;
      background-color: rgb(223, 175, 30);
      color: black;
    }

.history {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  background: #fff;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  max-height: 500px;
  overflow-y: auto;
  background-color: yellowgreen;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history li {
  font-size: 16px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

div > button{
  background-color: yellow;
  color: black;
  border-radius: 10px;
  width: 70%;
  height: 50px;
  font-size: 25px;
}

div > button:hover{
  box-shadow: 2px 2px 5px black;
  opacity: 0.90;
  background-color: red;
  color: white;
}
